{% extends 'base.html.twig' %}

{% block title %}New Piment{% endblock %}

{% block body %}
    <h1>Create new Piment</h1>

    {{ include('piment/_form.html.twig') }}

    <a href="{{ path('app_piment_index') }}">back to list</a>
{% endblock %}
